<!DOCTYPE html>
<html>
<head>
    <title>Plant Buddy</title>
    
</head>
<body>
    <h2>Welcome</h2>
    <div id="welcome">
        <p>Plant Buddy, plant monitoring system for your home.</p>
    </div>

    <h1>Data</h1>
    <div id="data">
        <p>Temperature: <span id="temperature"></span>°C</p>
        <p>Humidity: <span id="humidity"></span>%</p>
        <p>Moisture: <span id="moisture"></span>%</p>
        <p>Timestamp: <span id="timestamp"></span></p>
        <p>AI Comment: <span id="aiComment"></span></p>
    </div>

    <!-- Include the data.js script -->
    <script src="data.js" type="module"></script>
</body>
</html>
